/* NO OLVIDARSE DEL BOTON CON EL PSEUDOELEMENTO ::BEFORE Y EL z-index PARA QUE QUEDE POR ENCIMA*/
.page__footer{
    background-color: $color-secondary;
    width: 100%;


    & .oval{
        display: inline-block;
        position: absolute;
        left: 44%;
        bottom: -1015px; /*ESTO NO ESTÁ BIEN ES UNA ÑAPA */
        width: 45px;
        height: 45px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        border-radius: 30px;
        background-color: $color-light;
        background-image: url(../images/ico-arrow.svg);
        background-repeat: no-repeat;
        background-size: 20.6px 24px;
        background-position: center;
        z-index: 10;
        transition: all 0.1s ease;

        @include tabletSize{
            bottom: -740px;
            left: 47%; 
        }

        @include desktopSize{
            bottom: -755px; 
        }
    }

    & .oval:hover {
        background-size: 16px 20px;
        cursor: pointer;
      }


    & .container-item {
        height: 405px;
        display: flex;
        flex-direction: column;
        align-items: initial;
        justify-content: center;


        @include tabletSize{
            height: 240px;
            flex-direction: row;
            align-items: left;
            justify-content: space-between;
        }

        @include tabletSize{
            padding: 15px 193.8px 15px 193.8px
        }

        & .links_articles {
            padding-top: 30px;
            margin-top: 0;
            margin-bottom: 0;
            text-align: center;
            text-transform: uppercase;
            line-height: 30px;
            color: $color-light;
            font-weight: $font-light;
            font-size: 16px;

            @include tabletSize{
                width: 210px;
                text-align: left;
                order: 2;
            }
        }

        
        & .links-twitter {
            display: block;
            padding-top: 30px;
            margin-top: 0;
            margin-bottom: 0;
            width: 147;
            text-align: center;
            text-transform: uppercase;
            font-weight: $font-light;
            line-height: 30px;
            color: $color-light;
            font-size: 16px;

            @include tabletSize{
                width: 210px;
                text-align: left;
                order: 3
            }
        }

        & a:hover {
            font-weight: $font-medium;
            font-size: 15px;
        }

        & .f-copy{
            display: inline-block;
            height: 60px;
            width: 290px;
            text-align: center;
            font-weight: $font-light;
            color: $color-light;
            margin: 30px 0 45px 0;
            font-size: 14px;

            @include tabletSize{
                width: 210px;
                text-align: left;
                order: 1;
            }
        }
    }
}
