.container{
    padding: 30px 15px 30px 15px;
    justify-content: center;

    @include tabletSize{
        padding: 45px 39px 45px 39px;
    }

    @include desktopSize{
        padding: 45px 81.2px 45px 81.2px;
        border: solid 2px purple;
    }
}