<aside class="page__aside" >
    <div class="container">
        
        <div class="article">
            <h3 class="a-title" id="a-title">3 reasons to purchase</h3>
            

            <article class="article-item-1">
                <h3 class="a-subtitle">Ut sed metus</h3>
                <p class="a-par">Lorem ipsum dolor sit amet consectetur</p>
            </article>
            <article class="article-item-2">
                <h3 class="a-subtitle">Curabitu ac erat</h3>
                <p class="a-par">Mauris mattis urna quis lorem molestie</p>
            </article>
            <article class="article-item-3">
                <h3 class="a-subtitle">Morbi dictum</h3>
                <p class="a-par">Aliquam in dolor et dolor tincidunt</p>
            </article>

            <button class="buton-aside" title="more reasons" aria-label="more reasons">more reasons</button>
        </div>

    </div>
</aside>
