<aside class="page__aside">
    <div class="container">
        <div class="container-item">
            <h2 class="a-title">3 reasons to purchase</h2>

            <article class="article">
                <h3 class="a-subtitle">Ut sed metus</h3>
                <p class="a-par">Lorem ipsum dolor sit amet consectetur</p>
            </article>
            <article class="article">
                <h3 class="a-subtitle">Curabitu ac erat</h3>
                <p class="a-par">Mauris mattis urna quis lorem molestie</p>
            </article>
            <article class="article">
                <h3 class="a-subtitle">Morbi dictum</h3>
                <p class="a-par">Aliquam in dolor et dolor tincidunt</p>
            </article>

            <button class="buton-aside">more reasons</button>

        </div>
    </div>
</aside>
