<footer class="page__footer">

    <div class="container">
        
        <a class="oval" href="#top" title="top" aria-label="top"></s>

        <div class="container-item">

            <ul class="links_articles">
                <li>
                    <a href="https://adalab.es" alt="Adalab" title="articles" aria-label="link to adalab">articles</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="books" aria-label="link to adalab">books</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="events" aria-label="link to adalab">events</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="reasons" aria-label="link to adalab">reasons</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="tips" aria-label="link to adalab">tips</a>
                </li>
            </ul>

            <ul class="links-twitter">
                <li>
                    <a href="https://adalab.es" alt="Adalab" title="twitter" aria-label="link to adalab">twitter</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="instagram" aria-label="link to adalab">instagram</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="mastodon.social" aria-label="link to adalab">mastodon.social</a>
                </li>
            </ul>

            <small class="f-copy"> &copy;2017 <br> we ❤ components </small>

        </div>
    </div>

</footer>

