<footer class="page__footer">

    <a class="oval" href="#top" title="top" aria-label="top" tabindex="5"></a>
    
    <div class="container">
        <div class="container-item">
            <ul class="links-articles">
                <li>
                    <a href="https://adalab.es" alt="Adalab" title="articles" aria-label="link to adalab" tabindex="6">articles</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="books" aria-label="link to adalab" tabindex="7">books</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="events" aria-label="link to adalab" tabindex="8">events</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="reasons" aria-label="link to adalab" tabindex="9">reasons</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="tips" aria-label="link to adalab" tabindex="10">tips</a>
                </li>
            </ul>

            <ul class="links-twitter">
                <li>
                    <a href="https://adalab.es" alt="Adalab" title="twitter" aria-label="link to adalab" tabindex="11">twitter</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="instagram" aria-label="link to adalab" tabindex="12">instagram</a>
                </li>
                <li>
                    <a href="https://adalab.es" alt="Link to Adalab" title="mastodon.social" aria-label="link to adalab" tabindex="13">mastodon.social</a>
                </li>
            </ul>

            <small class="f-copy"> &copy;2017 <br> we ❤ components </small>

        </div>
    </div>

</footer>

