<div class="page__section" >
    <div class="container">
        
        <section class="section">
            <h3 class="s-title" id="s-title">3 reasons to purchase</h3>
            

            <article class="section-item-1">
                <h3 class="s-subtitle">Ut sed metus</h3>
                <p class="s-par">Lorem ipsum dolor sit amet consectetur</p>
            </article>
            <article class="section-item-2">
                <h3 class="s-subtitle">Curabitu ac erat</h3>
                <p class="s-par">Mauris mattis urna quis lorem molestie</p>
            </article>
            <article class="section-item-3">
                <h3 class="s-subtitle">Morbi dictum</h3>
                <p class="s-par">Aliquam in dolor et dolor tincidunt</p>
            </article>

            <button class="button-section" title="more reasons" aria-label="more reasons" tabindex="4">more reasons</button>
        </section>

    </div>
</div>
