.menu-icon{
    width: 44px;
    height: 44px;
    position: fixed;
    background-color: $color-secondary-midtone ;
    background-image: url(../images/ico-menu.svg);
    background-repeat: no-repeat;
    background-size: 16px 12px;
    background-position: center;
}
